<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Spiral</title>
  <script src="node_modules/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="spiral">

    <div id="controls">
      <input type="number" placeholder="Squares" v-model="squares"/>
      <input type="number" placeholder="Starting number" v-model="start"/>
      <input type="text" placeholder="Color" v-model="color"/>
    </div>

    <spiral></spiral>
  </div>
    
  <script src="spiral.js"></script>
</body>
</html>

